.form {
    width: 20rem;
    margin: 0 auto;

    &-wrapper {
        width: 100%;
    }

    .time {
        margin-top: 1rem;
        text-align: center;
    }
    .time-wrapper {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .forminput {
            margin: 0;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

/* Pure CSS Loader https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #393939;
    border-color: #595959 transparent #494949 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
